<?xml version='1.0' encoding='utf-8'?>
<widget id="com.emailbox.versus.app" version="0.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Emails Sent</name>
    <description>
        Simple email sent stat
    </description>
    <author email="nick@getemailbox.com" href="http://cordova.io">
        Nick Reed
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />

    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.Device" />
    </feature>

    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.InAppBrowser" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>

    <icon src="icon.png" />


</widget>
